{% extends 'moj_template/base.html' %}

{% block head %}

{% endblock %}

{% block stylesheets %}

    <style>

        #global-header-bar {

            max-width: none;
            width: 100%;

        }

        div.inner-block {

            background-color: #005ea5;

        }

        #centre_div {

            width: 300px;
            margin-left: auto;
            margin-right: auto;
        }

    </style>

{% endblock %}

{% block content %}
    <div id="centre_div" >
    <br>
    <br>
    <br>
    <br>
        <form action="/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" />
        </form>
    </div>

{% endblock %}


